body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  background-color: hsl(243, 96%, 9%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header h1 {
  color: hsl(0, 0%, 100%);
}

h1 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 700;
}